.change-language-container {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-language-container button {
  border: 1px solid black;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10%;
}

.change-language-container button:hover {
  background-color: wheat;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.menu-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  margin-right: 10px;
  font-size: 24px;
}

a:hover {
  text-decoration: none;
}

.now-link {
  font-size: 1em;
  align-self: center;
  margin: 5px 0 0;
}

.now-link::before {
  content: '';
  display: inline-block;
  border: 10px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 20px solid black;
  margin-right: 5px;
  margin-left: 5px;
}

.choose-size {
  margin-top: 10px;
}

.game-links {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10%;
}

.game-links:hover {
  background-color: wheat;
  cursor: pointer;
}

.git-link-container {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.git-link {
  margin: 0;
  font-size: 18px;
}

.git-link:hover {
  text-decoration: underline;
}

.git {
  margin-bottom: 10px;
}

@media screen and (max-width: 500px){
  .change-language-container button {
    font-size: 16px;
  }

  h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}

@media screen and (max-height: 600px) {
  .git-link-container {
    margin-bottom: 0;
  }
}
