<a class="go-to-main" routerLink="/">На главную</a>
<div class="btn-container">
  <button (click)="showPopup()">Размешать и начать</button>
  <button (click)="reset()">Сбросить</button>
  <button (click)="stop()">Стоп</button>
</div>

<div class="info">
  <span>Ходов: {{countSteps}}</span>
  <span>Время: {{timer | formatTimer}}</span>
</div>

<div class="block-container">
  <div *ngFor="let row of matrix; let i = index" class="block">
    <div *ngFor="let coll of matrix; let j = index" class="block"
         [ngStyle]="{width: sizeInPx, height: sizeInPx, 'font-size': fontSize}">
      <div class="center" (click)="step(j, i)">{{matrix[j][i]}}</div>
    </div>
  </div>
</div>


<div class="background-popup" *ngIf="isSelect" (click)="hidePopup()">
  <div class="popup" (click)="stopClick()">
    <h3>Введите число ходов для перемешивания</h3>
    <p>Рекомендуем минимум {{defaultForShuffle}}</p>
    <div class="input-container">
      <input [value]="defaultForShuffle" type="number" #htmlInputElement required>
      <button (click)="shuffle(+htmlInputElement.value)">Начать</button>
    </div>
  </div>
</div>


<div class="background-popup" *ngIf="isWin">
  <div class="popup popup-win">
    <h2>Поздравляем, Вы победили!</h2>
    <h3>Количество ходов: {{countSteps}}</h3>
    <h3>Время: {{timer | formatTimer}}</h3>
    <button class="popup-win__button" (click)="hidePopup()">Ok</button>
  </div>
</div>
