.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  outline: 1px solid black;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  padding: 10px;
  border-radius: 15%;
  font-size: 16px;
  margin-right: 10px;
}

button:hover {
  cursor: pointer;
  background-color: bisque;
}

button:active, button:focus {
  outline: none;
}

input {
  font-size: 24px;
}

.block {
  outline: 1px solid black;
  font-size: 2rem;
}

.center:hover {
  cursor: pointer;
  background-color: burlywood;
}

.center {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.info {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.background-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .8);
  justify-content: center;
  align-items: center;
}


.popup {
  padding: 15px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
  opacity: 1;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .info {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }

  .block-container {
    width: 100vw;
    height: 300px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .block, .center {
    width: 35px !important;
    height: 35px !important;
    font-size: 1rem !important;
  }

  button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 13px;
  }

  .btn-container {
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
  }

  .popup {
    width: 100vw;
    height: 200px;
  }

  .input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .input-container button {
    margin: 0;
    padding: 10px;
  }

  input {
    border: 2px solid black;
    width: 200px;
  }

  input:focus {
    border-color: transparent;
  }
}
