.go-to-main {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10%;
  margin-bottom: 10px;
}

.go-to-main:hover {
  cursor: pointer;
  background-color: wheat;
  text-decoration: none;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

button {
  padding: 10px;
  border-radius: 15%;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: bisque;
}

button:active, button:focus {
  outline: none;
}

.info {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  outline: 1px solid black;
}

.block {
  outline: 1px solid black;
}

.center {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.center:hover {
  cursor: pointer;
  background-color: burlywood;
}

.background-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .8);
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 15px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
  opacity: 1;
}

.input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  font-size: 24px;
  border: 1px solid black;
}

.popup-win {
  padding: 20px;
  height: 230px;
}

.popup-win__button {
  font-size: 18px;
  padding: 10px 20px;
}

@media screen and (max-width: 500px) {

  .btn-container {
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
  }

  button {
    margin-bottom: 10px;
  }

  .info {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }

  .input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .input-container button {
    margin: 0;
    padding: 10px;
  }

  input {
    border: 2px solid black;
    width: 200px;
  }

  input:focus {
    border-color: transparent;
  }

  .block-container {
    width: 100vw;
    height: 300px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .popup {
    width: 100vw;
    height: 200px;
  }

  .popup-win {
    height: 230px;
  }
}
