/* You can add global styles to this file, and also import other style files */
a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}
